.store {
  display: grid;
  margin-left: 10%;
  margin-right: 10%;
  grid-template-columns: 1fr 2fr 1fr;
}

.filters {
  border: 2px solid black;
  margin-left: 5%;
  padding-left: 20px;
}
.filters-title {
  width: 100%;
  position: relative;
}
.filters-title {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.filters-title i {
  position: absolute;
  right: 10%;
  top: 25px;
}
.filters label {
  font-size: 80%;
}

.cost-filter h3 {
  margin: 10px 0px;
  padding: 1px 0px;
}

.color-filter h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 0px;
}

.color-boxes {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
}

.box {
  border: 1px solid black;
  height: 20px;
  width: 20px;
  margin: 5px;
}
.red {
  background-color: red;
}
.yellow {
  background-color: rgb(234, 234, 22);
}
.golden {
  background-color: rgb(225, 192, 27);
}
.green {
  background-color: rgb(23, 220, 76);
}
.blue {
  background-color: rgb(14, 235, 209);
}

.design-filter h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 80%;
}

.type-filter h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.apply-filter {
  position: relative;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  color: white;
}

@media screen and (min-width: 1700px) {
  .products-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .date img,
  .location img {
    width: 16px;
    margin-left: auto;
    margin-right: 10px;
    padding: 0%;
  }
}

@media screen and (max-width: 1100px) {
  .products-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .color-boxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .filters-title {
    display: grid;
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 900px) {
  .filters-title i {
    position: absolute;
    left: 10%;
    top: 55px;
    margin-bottom: 20px;
  }
  .location-date {
    display: grid;
    grid-template-columns: 1fr;
  }
  .location,
  .date {
    margin: 5px 0px;
  }
  .store {
    margin-left: 3%;
    margin-right: 3%;
  }
}
