@media screen and (min-width: 1700px) {
  .products-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .date img,
  .location img {
    width: 16px;
    margin-left: auto;
    margin-right: 10px;
    padding: 0%;
  }
}

@media screen and (max-width: 1100px) {
  .products-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .color-boxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .filters-title {
    display: grid;
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 900px) {
  .filters-title i {
    position: absolute;
    left: 10%;
    top: 55px;
    margin-bottom: 20px;
  }
  .location-date {
    display: grid;
    grid-template-columns: 1fr;
  }
  .location,
  .date {
    margin: 5px 0px;
  }
}
